* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top left, rgb(33, 95, 136), rgb(132, 219, 132));
}

.playerVsComputer {
  display: flex;
  justify-content:space-between;
  background-color: aquamarine;
  padding: 30px;
}

.result {
  display: flex;
  padding: 5px;
}

.score {
  padding-left: 10px;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.consoleAndButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(51, 75, 153);
  padding: 32px;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  margin-top: 30px;
  height: auto;
}

.digit {
  border-style: none;
  font-size: 1.1em;
  width: 30px;
  padding: 10px;
  background-color: aquamarine;
}

.hide {
  display: none;
  padding: 5px;
  margin-top: 30px;
}

.button {
  padding: 10px;
  box-shadow: 3px 3px 5px rgb(9, 24, 41);
  background-color: rgb(209, 146, 123);
  border-style: none;
  border-radius: 5px;
}

.button:hover {
  padding: 10px;
  box-shadow: 3px 3px 5px rgb(9, 24, 41);
  background-color: rgb(209, 169, 154);
  border-style: none;
  border-radius: 5px;
}

.button:active {
  padding: 10px;
  box-shadow: 1px 1px 2px rgb(9, 24, 41);
  background-color: rgb(170, 133, 120);
  border-style: none;
  border-radius: 5px;
}


.game {
  width: 30vw;
  min-width: 300px;
  min-height: 340px;
  box-shadow: 2px 2px 10px rgb(9, 24, 41);
}

.console {
  padding: 30px;
  border-style: outset;
  border-width: 2px;
  border-radius: 5px;
  border-color:rgb(22, 33, 71) rgb(130, 152, 223) rgb(130, 152, 223) rgb(22, 33, 71);
  color: rgb(165, 165, 160);
  background-color: rgb(1, 36, 70);
  width: 200px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .game {
    width: 100vh;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .button,
  .button:hover {
    padding: 30px;
  }
}

